

body{
    background-color: aliceblue;
}


form {
    margin: 50px auto;
    text-align: center;
}

input{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-style: 'roboto';
    background-color: rgba(214, 214, 214, 0.445);
}

input:focus{
        box-shadow: inset 0px 0px 2px 2px gray;
     
    
}